/* style.css */

body{
  background: #fff;
  color: #000; 
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
}

nav{
  display:inline;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
} 

h1{
  font-family: 'Century Gothic', sans-serif;
  color:  #41A3C0; 
  font-weight: bolder;
  font-size: 2em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #3b4563;
  font-weight: lighter;
  font-size: 1.5em;
}

p{
  color: #8e9bac;
}

a { 
  color: rgb(252, 210, 28);
}

a:hover {
  text-decoration: none;
  color: rgb(252, 210, 28);
}

#logo{
  color: rgb(252, 210, 28);
  font-size: 50px;
  font-family: 'Indie Flower', cursive;
  float: left;
  margin-left: 50px;
}


/* Mis en forme de la baseline */
#baseline{
  background-color: #41A3C0;
  text-align: center;
  height: 450px;
  padding: 150px;
  color: white;
  background: url(pictures/wall-1408988819_white-circle-on-black-background.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  background-size: cover; 
  color: #41A3C0;
  text-shadow: 5px 5px #00;

}

#baseline h1 {
  font-size: 50px;
  color: rgb(252, 210, 28);
}

#baseline h2 {
  font-size: 30px;
  color: rgb(252, 210, 28);
}

#baseline a {
  font-size: 30px;
  font-weight: lighter;
  text-decoration: none;
  text-decoration: underline;
}

#baseline a:hover {
  position: relative;
  top:1px;
}

.feature{
  border: 1px solid rgb(225, 0, 152);
  background: #FAFAFA;
  margin: 15px;
  padding: 15px 0;
  text-align: center;
  width: 400px;
}

 #download{
  margin: 0 auto;
  color: rgb(252, 210, 28);
  width: 90%;
  font-weight: bolder;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

 #apropos{
  margin: 0 auto;
  width: 80%;
  color: rgb(252, 210, 28);
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  margin: 10px;
  display:inline;
}

nav ul {
  float: left;
  margin-top: 25px;
}
#welcome{
  background-color: #41A3C0;
  text-align: center;
  padding: 50px;
  color: white;
}

#welcome h4{
 font-size: 50px;
}

<.feature,.defi{
  border: 1px solid #F2F2F2;
  background: #FAFAFA;
  margin: 15px;
  padding: 15px 0;
  text-align: center;
  width: 400px;
}
